.setDisplay {
  margin: 2rem;
}

.navLinks a {
  background-color: #d6d3d1;
  border-radius: 3px;
  text-decoration: none;
  margin: .3rem;
  padding: .2rem;
  border: 1px solid black;
}

.navLinks a:hover {
  background-color: #e7e5e4;
}