.sets {
  width: 60%;
  padding: 0 2rem;
}

.set {
  margin: 2rem 0;
}

.set h2 a {
  text-decoration: none;
}

.cardCount {
  background-color: lightgray;
  padding: 5px 10px;
  margin-left: 15px;
  border-radius: 8px;
  font-size: .9rem;
}