.createReport form{
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: max(60%, 25rem);
}

.createReport form textarea {
  grid-area: 1 / 1 / 2 / 4;
}

.createReport form button {
  grid-area: 2 / 3 / 3 / 4;
  margin-top: 8px;
  align-self: start;
}

.createReport form .message {
  align-self: center;
  grid-area: 2 / 1 / 3 / 3;
  margin: 0;
}