@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.form-container {
  width: 60%;
}
form * {
  font-family: 'Roboto';
}

form .form-input {
  display: grid;
  gap: .5rem;
  grid-template-columns: 150px 1fr;

  margin: 1rem;
}

form .form-input label {
  justify-self: end;
}

.cards.collapsed {
  display: none;
}

.card-input-container {
  position: relative;
}

.card-input {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}