
.form-container {
  width: 60%;
  padding: 0 2rem;
}

#set-form>div {
  margin: 2rem 0;
  padding: 1rem 3rem;
  border-radius: 5px;
  box-shadow: 1px 1px 2px black;
}

#set-form .title-bar {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

#set-form .title-bar h2 {
  margin: .25rem 0;
}

#set-form .form-input {
  display: grid;
  gap: .75rem;
  grid-template-columns: 150px 1fr;

  align-items: center;
  margin: 1rem;
}

#set-form .form-input label {
  justify-self: end;
}

#set-form input,
#set-form textarea {
  font-size: 1rem;
  padding: .5rem 1rem;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 2px black;
}

#set-form textarea {
  resize: vertical;
}

#set-form button:has(img):hover {
  transform: scale(1.1);
}
.cards-title-bar {
  display: flex;
}

.cards-title-bar h2 {
  flex: 1;
}

.cards-title-bar button {
  background-color: transparent;
  border: 0;
}

.cards-list.collapsed {
  display: none;
}

.card-input-container {
  display: none;
}

.card-input-container.expanded {
  display: block;
}


.card .card-title {
  display: flex;
}

.card .card-title p {
  flex: 1;
  cursor: pointer;
}

.card .card-title p:hover {
  text-decoration: underline;
}

.card .card-title button {
  background-color: transparent;
  border: none;
}

.card .card-lines {
  display: none;
}

.card .card-lines.expanded {
  display: block;
}

#set-form .buttons {
  box-shadow: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

#set-form .buttons button {
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
}

